name: example_gallery_saver_plus
description: "Example app for gallery_saver_plus"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.5.3

dependencies:
  cupertino_icons: ^1.0.8
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_lints: ^4.0.0
  flutter_test:
    sdk: flutter
  gallery_saver_plus:
    path: ../

flutter:
  uses-material-design: true
